<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        
        <!-- DISABLE ASP.Net for this application. If we add any code, we need to turn this back on!! -->
        <httpRuntime targetFramework="4.5" enable="true" />
    </system.web>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <!-- Force Strict XSS protection in IE -->
                <add name="X-XSS-Protection" value="1; mode=block" />
                
                <!-- Disable IE Content Type Sniffing -->
                <add name="X-Content-Type-Options" value="nosniff" />
                
                <!-- Enable HSTS (http://tools.ietf.org/html/rfc6797) -->
                <add name="Strict-Transport-Security" value="maxage=31536000; includeSubDomains" />
                
                <!-- Disable framing to prevent Clickjacking -->
                <add name="X-Frame-Options" value="deny" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <mimeMap fileExtension="jsonld" mimeType="application/ld+json" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Service Index" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="Public/Services.json" />
                </rule>
                <rule name="Other Static Files" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{APPL_PHYSICAL_PATH}Public\{R:1}" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="Public/{R:1}" />
                </rule>
                <rule name="Search Service" stopProcessing="true">
                    <match url="^search(/?.*)$" />
                    <action type="Rewrite" url="{MapScheme:{HTTPS}}://api-search-0.nuget.org/search{R:1}" />
                </rule>
                <rule name="Work Service" stopProcessing="true">
                    <match url="^work(/?.*)$" />
                    <action type="Rewrite" url="{MapScheme:{HTTPS}}://api-work-0.nuget.org/work{R:1}" />
                </rule>
                <rule name="V2Feed Service" stopProcessing="true">
                    <match url="^api/v2(/?.*)$" />
                    <action type="Rewrite" url="{MapScheme:{HTTPS}}://www.nuget.org/api/v2{R:1}" />
                </rule>

                <!-- Don't go to the normal IIS processing if the URL Rewrites fail -->
                
            </rules>
            <rewriteMaps>
                <rewriteMap name="MapScheme" defaultValue="http">
                    <add key="on" value="https" />
                    <add key="off" value="http" />
                </rewriteMap>
            </rewriteMaps>
        </rewrite>
    </system.webServer>
    <location path="Public/Services.json">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="Link" value="&lt;Context.jsonld&gt;; rel=&quot;http://www.w3.org/ns/json-ld#context&quot;; type=&quot;application/ld+json&quot;"/>
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
 </configuration>